*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
ptr-lib/assets/
ptr-lib/build/generated/assets/
ptr-lib/build/generated/res/
ptr-lib/build/generated/source/aidl/
ptr-lib/build/generated/source/apt/
ptr-lib/build/generated/source/rs/
ptr-lib/build/intermediates/bundles/debug/aidl/
ptr-lib/build/intermediates/bundles/debug/assets/
ptr-lib/build/intermediates/bundles/debug/jni/
ptr-lib/build/intermediates/bundles/debug/libs/
ptr-lib/build/intermediates/bundles/release/aidl/
ptr-lib/build/intermediates/bundles/release/assets/
ptr-lib/build/intermediates/bundles/release/jni/
ptr-lib/build/intermediates/bundles/release/libs/
ptr-lib/build/intermediates/dependency-cache/
ptr-lib/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
ptr-lib/build/intermediates/incremental/packageDebugAndroidTest/
ptr-lib/build/intermediates/incremental/packageDebugResources/aapt-temp/
ptr-lib/build/intermediates/incremental/packageReleaseResources/aapt-temp/
ptr-lib/build/intermediates/incremental/processDebugAndroidTestResources/
ptr-lib/build/intermediates/incremental/processDebugResources/
ptr-lib/build/intermediates/incremental/processReleaseResources/
ptr-lib/build/intermediates/jniLibs/
ptr-lib/build/intermediates/lint/
ptr-lib/build/intermediates/manifest/tmp/
ptr-lib/build/intermediates/rs/
ptr-lib/build/intermediates/shaders/
ptr-lib/build/intermediates/transforms/
ptr-lib/build/tmp/
ptr-lib/res/drawable-hdpi/
ptr-lib/res/drawable-ldpi/
ptr-lib/res/drawable-mdpi/
