<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.www.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--设置手机旋转时屏幕显示
        android:configChanges="orientation|screenSize"
        竖屏显示android:screenOrientation="portrait"-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.GuideActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>